@font-face {
    font-family: 'Outfit';
    src: local('Outfit Bold'), local('Outfit-Bold'),
        url('/fonts/Outfit-Bold.woff2') format('woff2'),
        url('/fonts/Outfit-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: local('Outfit Light'), local('Outfit-Light'),
        url('/fonts/Outfit-Light.woff2') format('woff2'),
        url('/fonts/Outfit-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: local('Outfit SemiBold'), local('Outfit-SemiBold'),
        url('/fonts/Outfit-SemiBold.woff2') format('woff2'),
        url('/fonts/Outfit-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    
}

@font-face {
    font-family: 'Outfit';
    src: local('Outfit Regular'), local('Outfit-Regular'),
        url('/fonts/Outfit-Regular.woff2') format('woff2'),
        url('/fonts/Outfit-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: local('Outfit Medium'), local('Outfit-Medium'),
        url('/fonts/Outfit-Medium.woff2') format('woff2'),
        url('/fonts/Outfit-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

